.......

{% if social_media_facebook %}
<a target="_blank" href="{{ social_media_facebook }}"><span class="fa fa-facebook-official"></span></a>
{% endif %}
{% if social_media_twitter %}
<a target="_blank" href="{{ social_media_twitter }}"><span class="fa fa-youtube"></span></a>
{% endif %}
{% if social_media_youtube %}
<a target="_blank" href="{{ social_media_youtube }}"><span class="fa fa-twitter-square"></span></a>
{% endif %}
{% if social_media_linkedin %}
<a target="_blank" href="{{ social_media_linkedin }}"><span class="fa fa-linkedin-square"></span></a>
{% endif %}
{% if social_media_instagram %}
<a target="_blank" href="{{ social_media_instagram }}"><span class="fa fa-instagram"></span></a>
{% endif %}

.......